.image-wrapper {
    position: relative;
    width: 100%;
    height: auto;
    margin-bottom: 8px;
    padding-top: 60%;
    background: #eaeaea;
    font-size: 0;
    line-height: 0;
    overflow: hidden;
    img {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        max-width: 100%;
        transform: translate(-50%, -50%);
    }
}


h3 {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 4px;
    color: #333;
}
p {
    font-size: 12px;
    font-weight: 300;
    letter-spacing: .1rem;
    color: #666;
}
a {
    text-decoration: none;
}
