<article>
  <section class="product-wrapper">
    <div class="images">
      <div class="selected-image"></div>
      <div class="gallery"></div>
    </div>

    <div class="info">
      <h1 class="title">{{product.name}}</h1>
      <p class="price">{{product.price}}</p>
      <p class="description">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iste, error ratione eligendi nisi corporis iure aliquam, reprehenderit maxime nemo veritatis, unde eum similique nobis explicabo quos sequi perspiciatis rem! Soluta.
      </p>

      <button class="add-cart">Add to cart</button>
    </div>
  </section>

  <section>
      <h2>Similar Items</h2>
      <section  class="similar">
        <product-card *ngFor="let id of product.similar" [product]="productList[id]"></product-card>
      </section>
  </section>
</article>
