article {

    h2 {
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 16px;
    }

    .product-wrapper {
        margin-bottom: 40px;
        @media screen and (min-width: 968px) {
            display: flex;
            flex-direction: row;
        }
    }

    .images {
        flex: 2 1;

        .selected-image {
            min-height: 300px;
            background-color: #eaeaea;
            margin-bottom: 8px;
        }
        .gallery {
            height: 40px;
            background-color: #eaeaea;
        }
    }

    .info {
        flex: 1 1;
        padding: 40px 0;
        min-height: 300px;

        @media screen and (min-width: 968px) {
            padding: 40px 0 40px 40px;
        }
    }


    .similar {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        grid-gap: 16px 16px;
    }
}