<header>
  <h1>
    <a routerLink="/">Acquire<span class="colon">:</span></a>
  </h1>
</header>

<nav>
  <ul>
    <li><a href="#" routerLink="/" >sign in</a></li>
    <li><a href="#" routerLink="/cart" >cart</a></li>
  </ul>
</nav>

<main>
<router-outlet (activate)="onActivate($event)"></router-outlet>
</main>

<footer>
  <section>
    <div class="footer-links">
      <ul>
        <li>link</li>
        <li>link</li>
        <li>link</li>
      </ul>
      <ul>
          <li>link</li>
          <li>link</li>
          <li>link</li>
        </ul>
    </div>
    <div class="footer-form">
      <form>
        <input type="email" name="email"/>
        <textarea name="message"></textarea>
        <button name="submit">Send</button>
      </form>
    </div>
  </section>
    <p>Photos from <a href="https://fourhands.com/">Fourhands.com</a> — a wholesale furniture distributer.</p>

</footer>
