
$primary-color: #2980b9;

header {
    padding: 20px 20px 0;
    h1 { 
        font-size: 32px;
        font-weight: 600;
        line-height: 1;
        letter-spacing: .1rem;
        border-bottom: 1px solid #eaeaea;
        a {
            display: inline-block;
            text-decoration: none;
            color: $primary-color;
        }
    }
}
nav {
    padding: 0 20px;
    ul {
        list-style: none;
        padding: 0;
        text-align: right;
        font-size: 14px;
        li {
            display: inline-block;
            margin-left: 16px;
            a {
                text-decoration: none;
                line-height: 40px;
                color: #333;
                
            }
        }
    }
}

main {
    min-height: 400px;
}

footer {
    background-color: #333;
    min-height: 300px;
}