<header>
  <h1>
    <a routerLink="/">Acquire<span class="colon">:</span></a>
  </h1>
</header>

<nav>
  <ul>
    <li><a href="#" routerLink="/" >sign in</a></li>
    <li><a href="#" routerLink="/cart" >cart</a></li>
  </ul>
</nav>

<main>
<router-outlet (activate)="onActivate($event)"></router-outlet>
</main>

<footer>
  <section>
    <div class="footer-links">
      <ul>
        <li><a href="">Some link text</a></li>
        <li><a href="">Some link text</a></li>
        <li><a href="">Some link text</a></li>
      </ul>
      <ul>
          <li><a href="">Some link text</a></li>
          <li><a href="">Some link text</a></li>
          <li><a href="">Some link text</a></li>
        </ul>
    </div>
    <div class="footer-form">
      <form>
        <input type="email" name="email" placeholder="Email"/>
        <textarea name="message" placeholder="Drop us a line..."></textarea>
        <button name="submit">Send</button>
      </form>
    </div>
  </section>
    <p>Products and phtots sourced from <a href="https://fourhands.com/" target="_blank">Fourhands.com</a></p>

</footer>
